## Air Quality Data Set

In this notebook we will prepare and store the Air Quality Data Set from the [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Air+Quality)

**Citation:**

Dua, D. and Graff, C. (2019). [UCI Machine Learning Repository](http://archive.ics.uci.edu/ml). Irvine, CA: University of California, School of Information and Computer Science.

### Download and unzip the data

- Navigate to the [data folder](https://archive.ics.uci.edu/dataset/360/air+quality).
- Download the zip file called **AirQualityUCI.zip**.
- Unzip it.
- Save the csv file called **AirQualityUCI.csv** the root of this folder.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

#### Data Pre-processing

In [2]:
# Load the data
data = pd.read_csv(
    'AirQualityUCI.csv',
    sep=';',
    parse_dates=[['Date', 'Time']]
).iloc[:, :-2] # drop last 2 columns, not real variables

# drop missing values
# these are added at the end of the file during reading
data.dropna(inplace=True)

data.shape

(9357, 14)

In [3]:
# View top 5 rows
data.head()

,Date_Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,10/03/2004 18.00.00,"2,6",1360.0,150.0,"11,9",1046.0,166.0,1056.0,113.0,1692.0,1268.0,"13,6","48,9","0,7578"
1,10/03/2004 19.00.00,2,1292.0,112.0,"9,4",955.0,103.0,1174.0,92.0,1559.0,972.0,"13,3","47,7","0,7255"
2,10/03/2004 20.00.00,"2,2",1402.0,88.0,"9,0",939.0,131.0,1140.0,114.0,1555.0,1074.0,"11,9","54,0","0,7502"
3,10/03/2004 21.00.00,"2,2",1376.0,80.0,"9,2",948.0,172.0,1092.0,122.0,1584.0,1203.0,"11,0","60,0","0,7867"
4,10/03/2004 22.00.00,"1,6",1272.0,51.0,"6,5",836.0,131.0,1205.0,116.0,1490.0,1110.0,"11,2","59,6","0,7888"

Taken from the [original website](https://archive.ics.uci.edu/ml/datasets/Air+Quality).

- **1**: Date (DD/MM/YYYY)
- **2**: Time (HH.MM.SS)

The above were merged during loading into the Date_Time column

- **3**: True hourly averaged concentration CO in ${mg/m^3}$ (reference analyzer)
- **4**: PT08.S1 (tin oxide) hourly averaged sensor response (nominally CO targeted)
- **5**: True hourly averaged overall Non Metanic HydroCarbons concentration in ${microg/m^3}$ (reference analyzer)
- **6**: True hourly averaged Benzene concentration in ${microg/m^3}$ (reference analyzer)
- **7**: PT08.S2 (titania) hourly averaged sensor response (nominally NMHC targeted)
- **8**: True hourly averaged NOx concentration in ppb (reference analyzer)
- **9**: PT08.S3 (tungsten oxide) hourly averaged sensor response (nominally ${NO_x}$ targeted)
- **10**: True hourly averaged NO2 concentration in ${microg/m^3}$ (reference analyzer)
- **11**: PT08.S4 (tungsten oxide) hourly averaged sensor response (nominally ${NO_2}$ targeted)
- **12**: PT08.S5 (indium oxide) hourly averaged sensor response (nominally ${O_3}$ targeted)
- **13**: Temperature in Â°C
- **14**: Relative Humidity (%)
- **15**: AH Absolute Humidity

In [4]:
# Give simpler names to the variables

new_var_names = [
    'Date_Time',
    'CO_true',
    'CO_sensor',
    'NMHC_true',
    'C6H6_true',
    'NMHC_sensor',
    'NOX_true',
    'NOX_sensor',
    'NO2_true',
    'NO2_sensor',
    'O3_sensor',
    'T',
    'RH',
    'AH',    
]

In [5]:
# Change columns names
data.columns = new_var_names

data.columns

Index(['Date_Time', 'CO_true', 'CO_sensor', 'NMHC_true', 'C6H6_true',
       'NMHC_sensor', 'NOX_true', 'NOX_sensor', 'NO2_true', 'NO2_sensor',
       'O3_sensor', 'T', 'RH', 'AH'],
      dtype='object')

In [6]:
# Analyse dataset
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9357 entries, 0 to 9356
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date_Time    9357 non-null   object
 1   CO_true      9357 non-null   object
 2   CO_sensor    9357 non-null   float64
 3   NMHC_true    9357 non-null   float64
 4   C6H6_true    9357 non-null   object
 5   NMHC_sensor  9357 non-null   float64
 6   NOX_true     9357 non-null   float64
 7   NOX_sensor   9357 non-null   float64
 8   NO2_true     9357 non-null   float64
 9   NO2_sensor   9357 non-null   float64
 10  O3_sensor    9357 non-null   float64
 11  T            9357 non-null   object
 12  RH           9357 non-null   object
 13  AH           9357 non-null   object
dtypes: float64(8), object(6)
memory usage: 1.1+ MB

As we can see few predictors `Dtype` is `object`, it should be `numeric` e.g. `CO_true` shall be `numeric` value.

In [7]:
# let's capture the variables
predictors = data.columns[1:]

predictors

Index(['CO_true', 'CO_sensor', 'NMHC_true', 'C6H6_true', 'NMHC_sensor',
       'NOX_true', 'NOX_sensor', 'NO2_true', 'NO2_sensor', 'O3_sensor', 'T',
       'RH', 'AH'],
      dtype='object')

In [8]:
# Cast variables as numeric
# Need to replace the , by . to cast as numeric

for var in predictors:
    if data[var].dtype =='O':
        data[var] = data[var].str.replace(',', '.')
        data[var] = pd.to_numeric(data[var])

data.head()

,Date_Time,CO_true,CO_sensor,NMHC_true,C6H6_true,NMHC_sensor,NOX_true,NOX_sensor,NO2_true,NO2_sensor,O3_sensor,T,RH,AH
0,10/03/2004 18.00.00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,10/03/2004 19.00.00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,10/03/2004 20.00.00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,10/03/2004 21.00.00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,10/03/2004 22.00.00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888

In [9]:
# Check 'Date_Time' column value length
len(data.Date_Time[0])

19

In [10]:
# Sanity check for 'Date_Time' column
data[data['Date_Time'].apply(lambda x: len(x))>19]

Empty DataFrame
Columns: [Date_Time, CO_true, CO_sensor, NMHC_true, C6H6_true, NMHC_sensor, NOX_true, NOX_sensor, NO2_true, NO2_sensor, O3_sensor, T, RH, AH]
Index: []

In [11]:
# Cast date and time variable as datetime
# Replace . by : to transform to datetime format

data['Date_Time'] = data['Date_Time'].str.replace('.', ':', regex=True)

data['Date_Time'] = pd.to_datetime(data['Date_Time'])
# use dayfirst=True parameter if format is dd/mm/yyyy HH:mm:ss 
# Eg: pd.to_datetime(data['Date_Time'], dayfirst=True)

data.head()

,Date_Time,CO_true,CO_sensor,NMHC_true,C6H6_true,NMHC_sensor,NOX_true,NOX_sensor,NO2_true,NO2_sensor,O3_sensor,T,RH,AH
0,2004-10-03 18:00:00,2.6,1360.0,150.0,11.9,1046.0,166.0,1056.0,113.0,1692.0,1268.0,13.6,48.9,0.7578
1,2004-10-03 19:00:00,2.0,1292.0,112.0,9.4,955.0,103.0,1174.0,92.0,1559.0,972.0,13.3,47.7,0.7255
2,2004-10-03 20:00:00,2.2,1402.0,88.0,9.0,939.0,131.0,1140.0,114.0,1555.0,1074.0,11.9,54.0,0.7502
3,2004-10-03 21:00:00,2.2,1376.0,80.0,9.2,948.0,172.0,1092.0,122.0,1584.0,1203.0,11.0,60.0,0.7867
4,2004-10-03 22:00:00,1.6,1272.0,51.0,6.5,836.0,131.0,1205.0,116.0,1490.0,1110.0,11.2,59.6,0.7888

In [12]:
# Sort index
# We want the data in time order

data.sort_index(inplace=True)

In [13]:
# Check the format

data.dtypes

Date_Time      datetime64[ns]
CO_true               float64
CO_sensor             float64
NMHC_true             float64
C6H6_true             float64
NMHC_sensor           float64
NOX_true              float64
NOX_sensor            float64
NO2_true              float64
NO2_sensor            float64
O3_sensor             float64
T                     float64
RH                    float64
AH                    float64
dtype: object

In [14]:
# Sanity check: duplicates in dt variable

data['Date_Time'].duplicated().sum()

0

In [15]:
# Check NA

data.isnull().sum()

Date_Time      0
CO_true        0
CO_sensor      0
NMHC_true      0
C6H6_true      0
NMHC_sensor    0
NOX_true       0
NOX_sensor     0
NO2_true       0
NO2_sensor     0
O3_sensor      0
T              0
RH             0
AH             0
dtype: int64

In [16]:
# Check time span

data['Date_Time'].agg(['min', 'max'])

min   2004-01-04 00:00:00
max   2005-12-03 23:00:00
Name: Date_Time, dtype: datetime64[ns]